<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IDAAI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-toast-plugin-master/dist/jquery.toast.min.css" asp-append-version="true" />
</head>
@{
    var opcionLogin = ViewBag.Opcion == "Login" ? "active" : "";
    var opcionRegistro = ViewBag.Opcion == "Registro" ? "active" : "";
    var opcionAsistenciaEstudiante = ViewBag.Opcion == "AsistenciaEstudiante" ? "active" : "";
}
<body>
    <header>
        <nav class="py-4 pl-3 navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary bg-gradient box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">IDAAI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @opcionLogin" aria-current="page" asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @opcionRegistro" aria-current="page" asp-area="" asp-controller="Home" asp-action="Registro">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(opcionAsistenciaEstudiante)" aria-current="page" asp-area="" asp-controller="Home" asp-action="AsistenciaEstudiante">Registrar Asistencia</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="https://www.academico.espol.edu.ec/" target="_blank"><img width="100" height="40" src="~/images/espolLogo.png" alt="Logo ESPOL" /></a>
                </div>
            </div>
        </nav>
    </header>
    <div class="bg-image" style="background-image: linear-gradient(rgba(255,255,255,0.69), rgba(255,255,255,0.69)), url('http://noticias.espol.edu.ec/sites/default/files/main/articles/Foto%2520telem%25c3%25a1tica.jpg'); heigth: 100vh;">
        <main role="main" class="contenedor d-flex align-items-center justify-content-center">
            @RenderBody()
        </main>
        <div id="cargando" class="d-flex justify-content-center invisible" tabindex="-1">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="" style="background-color: rgba(0, 0, 0, 0.03);">
            <!-- Copyright -->
            <div class="text-center p-4">
                © 2023 <span class="text-reset fw-bold">IDAAI LABS</span> Todos los derechos reservados
            </div>
            <!-- Copyright -->
        </div>       
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-toast-plugin-master/dist/jquery.toast.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
