<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IDAAI LABS</title>
    @*<link rel="shortcut icon" href='@Url.Content("~/../../wwwroot/favicon.ico")'>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery-toast-plugin-master/dist/jquery.toast.min.css" asp-append-version="true" />
</head>
@{
    var opcionLogin = ViewBag.Opcion == "Login" ? "active" : "";
    var opcionRegistro = ViewBag.Opcion == "Registro" ? "active" : "";
    var opcionAsistenciaEstudiante = ViewBag.Opcion == "AsistenciaEstudiante" ? "active" : "";
    var opcionPerfil = ViewBag.Opcion == "Perfil" ? "active" : "";
    var opcionLogout = ViewBag.Opcion == "Logout" ? "active" : "";
    var opcionClase = ViewBag.Opcion == "Clase" ? "active" : "";
    var opcionAsistencia = ViewBag.Opcion == "Asistencia" ? "active" : "";
    var opcionInventario = ViewBag.Opcion == "Inventario" ? "active" : "";
    var opcionPrestamo = ViewBag.Opcion == "Prestamo" ? "active" : "";
    var opcionEstudiante = ViewBag.Opcion == "Estudiante" ? "active" : "";
    var opcionItem = ViewBag.Opcion == "Item" ? "active" : "";
    var opcionCarrera = ViewBag.Opcion == "Carrera" ? "active" : "";
    var opcionModulo = ViewBag.Opcion == "Modulo" ? "active" : "";
    var opcionLaboratorio = ViewBag.Laboratorio == "Clases" ? "C" : "A";

    var opcionMenuEstudiantes = ViewBag.Opcion == "Clase" || ViewBag.Opcion == "Asistencia" || ViewBag.Opcion == "Estudiante" || ViewBag.Opcion == "Carrera" ? "active" : "";
    var opcionMenuInventario = ViewBag.Opcion == "Inventario" || ViewBag.Opcion == "Prestamo" || ViewBag.Opcion == "Item" ? "active" : "";

    var bgNavegacion = ViewBag.Opcion == "Home" || ViewBag.Opcion == "Login" || ViewBag.Opcion == "Registro" || ViewBag.Opcion == "Menu" || ViewBag.Opcion == "Perfil" || ViewBag.Opcion == "Logout" ? "bg-dark" : "bg-primary";
}
<body>
    <header>
        <nav class="py-4 pl-3 navbar navbar-expand-sm navbar-toggleable-sm navbar-dark @bgNavegacion bg-gradient box-shadow">
            <div class="container-fluid">
                @if ((ViewBag.Opcion == "Home" || ViewBag.Opcion == "Login" || ViewBag.Opcion == "Registro" || ViewBag.Opcion == "AsistenciaEstudiante") && (ViewBag.PantallaControl == "Home"))
                {
                    <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">IDAAI</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link @opcionLogin" aria-current="page" asp-area="" asp-controller="Home" asp-action="ValidarLogin">Iniciar Sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionRegistro" aria-current="page" asp-area="" asp-controller="Home" asp-action="Registro">Crear Cuenta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(opcionAsistenciaEstudiante)" aria-current="page" asp-area="" asp-controller="Home" asp-action="AsistenciaEstudiante">Registrar Asistencia</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a href="https://www.academico.espol.edu.ec/" target="_blank"><img width="100" height="40" src="~/images/espolLogo.png" alt="Logo ESPOL" /></a>
                    </div>
                }
                else if ((ViewBag.Opcion == "Menu" || ViewBag.Opcion == "Perfil" || ViewBag.Opcion == "Logout" || ViewBag.Opcion == "AsistenciaEstudiante") && (ViewBag.PantallaControl == "Menu"))
                {
                    <a class="navbar-brand fw-bold" asp-area="" asp-controller="Menu" asp-action="Index">Menú</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link @opcionPerfil" aria-current="page" asp-area="" asp-controller="Menu" asp-action="Perfil">Perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(opcionAsistenciaEstudiante)" aria-current="page" asp-area="" asp-controller="Menu" asp-action="AsistenciaEstudiante">Registrar Asistencia</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                         <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link @opcionLogout" aria-current="page" asp-area="" asp-controller="Operaciones" asp-action="Logout">Cerrar sesión</a>
                            </li>
                        </ul> 
                    </div>
                }
                else if (opcionLaboratorio == "C")
                {
                    <a class="navbar-brand fw-bold" asp-area="" asp-controller="Menu" asp-action="Index">Laboratorio de Clases</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 mr-auto">
                            <li class="nav-item dropdown">
                                <a title="Menú relacionado a la información de los estudiantes" class="nav-link dropdown-toggle @opcionMenuEstudiantes" href="#" id="navbarDropdownMenuLinkEstudiantes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Académico
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkEstudiantes">
                                    <a class="dropdown-item @opcionClase" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Clase">Clase</a>
                                    <a class="dropdown-item @opcionAsistencia" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Asistencia">Asistencia</a>
                                    <a class="dropdown-item @opcionEstudiante" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Estudiante">Estudiantes</a>
                                    <a class="dropdown-item @opcionCarrera" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Carrera">Carreras</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a title="Menú relacionado a la información del inventario" class="nav-link dropdown-toggle @opcionMenuInventario" href="#" id="navbarDropdownMenuLinkInventario" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Inventario
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkInventario">
                                    <a class="dropdown-item @opcionItem" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Item">Items</a>
                                    <a class="dropdown-item @opcionPrestamo" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Prestamo">Préstamo de Items</a>
                                    <a class="dropdown-item @opcionInventario" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Inventario">Administración de Inventario</a>                                    
                                </div>
                            </li>

                           @* <li class="nav-item">
                                <a class="nav-link @opcionClase" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Clase">Clase</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionItem" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Item">Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionAsistencia" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Asistencia">Asistencia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionPrestamo" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Prestamo">Préstamo de Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionEstudiante" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Estudiante">Estudiantes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionInventario" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Inventario">Inventario</a>
                            </li>                           
                            <li class="nav-item">
                                <a class="nav-link @opcionCarrera" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Carrera">Carreras</a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link @opcionModulo" aria-current="page" asp-area="" asp-controller="LaboratorioClases" asp-action="Modulo">Módulos</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                         <ul class="navbar-nav flex-grow-1 mr-auto">                           
                            <li class="nav-item">
                                <label class="nav-link fw-bold" for="moduloActual" title="Módulo Actual del usuario sobre el que se registrará la asistencia de los estudiantes en clases">Módulo Actual:</label>
                            </li>
                            <li class="nav-item active">
                                <select onchange="actualizarModuloActual()" class="nav-link dropdown-toggle" style="color: black;" id="moduloActual" title="Módulo Actual del usuario sobre el que se registrará la asistencia de los estudiantes en clases" asp-items="ViewBag.Modulos">
                                    <option value="0">Seleccione</option>
                                </select>
                            </li>
                            <li class="nav-item dropdown">
                                <a title="Cuenta" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img width="30" height="30" src="~/images/profileBlue.png" alt="Cuenta" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Menu" asp-action="Perfil" title="Perfil de usuario">Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Operaciones" asp-action="Logout" title="Cerrar sesión">
                                        <img width="30" height="30" src="~/images/logoutIcon.jpg" alt="Cerrar Sesión" />
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
                else if (opcionLaboratorio == "A")
                {
                    <a class="navbar-brand fw-bold" asp-area="" asp-controller="Menu" asp-action="Index">Laboratorio Abierto</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 mr-auto">
                            <li class="nav-item dropdown">
                                <a title="Menú relacionado a la información de los estudiantes" class="nav-link dropdown-toggle @opcionMenuEstudiantes" href="#" id="navbarDropdownMenuLinkEstudiantes" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Académico
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkEstudiantes">                                   
                                    <a class="dropdown-item @opcionAsistencia" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Asistencia">Asistencia</a>
                                    <a class="dropdown-item @opcionEstudiante" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Estudiante">Estudiantes</a>
                                    <a class="dropdown-item @opcionCarrera" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Carrera">Carreras</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a title="Menú relacionado a la información del inventario" class="nav-link dropdown-toggle @opcionMenuInventario" href="#" id="navbarDropdownMenuLinkInventario" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Inventario
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkInventario">
                                    <a class="dropdown-item @opcionItem" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Item">Items</a>
                                    <a class="dropdown-item @opcionPrestamo" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Prestamo">Préstamo de Items</a>
                                    <a class="dropdown-item @opcionInventario" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Inventario">Administración de Inventario</a>
                                </div>
                            </li>

                           @* <li class="nav-item">
                                <a class="nav-link @opcionItem" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Item">Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionAsistencia" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Asistencia">Asistencia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionPrestamo" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Prestamo">Préstamo de Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionEstudiante" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Estudiante">Estudiantes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @opcionInventario" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Inventario">Inventario</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link @opcionCarrera" aria-current="page" asp-area="" asp-controller="LaboratorioAbierto" asp-action="Carrera">Carreras</a>
                            </li>*@
                        </ul>
                    </div>
                    <div>
                        <ul class="navbar-nav flex-grow-1 mr-auto">
                            <li class="nav-item dropdown">
                                <a title="Cuenta" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img width="25" height="25" src="~/images/profileBlue.png" alt="Cuenta" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Menu" asp-action="Perfil" title="Perfil de usuario">Perfil</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Operaciones" asp-action="Logout" title="Cerrar sesión">
                                        <img width="25" height="25" src="~/images/logoutIcon.jpg" alt="Cerrar Sesión" />
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="bg-image imagenFondo">
        <main role="main" class="contenedor d-flex align-items-center justify-content-center">
            @RenderBody()
        </main>
        <div id="cargando" class="d-flex justify-content-center invisible" tabindex="-1">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="" style="background-color: rgba(0, 0, 0, 0.03);">
            <div class="text-center p-4">
                © 2023 <span class="text-reset fw-bold">IDAAI LABS</span> Todos los derechos reservados
            </div>
        </div>       
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-toast-plugin-master/dist/jquery.toast.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/datatables.js" asp-append-version="true"></script>
    <script>

        $(document).ready(function () {
        })

        function obtenerModuloActual() {
            $.ajax({
                cache: false,
                type: "GET",
                url: `@Url.Action("ObtenerModuloActual", "Operaciones")`,
                data: null,
                success: function (response) {
                    if (response.length == 0 || response == null) {
                        showToastError("No se encontraron resultados");
                    }
                    if (response.redirectToUrl) {
                        window.location.href = response.redirectToUrl;
                        return
                    }
                    if ((response.moduloActual == null) || (response.moduloActual == '')) {
                        $("#moduloActual").val("0")
                        return
                    }
                    $("#moduloActual").val(response.moduloActual)
                },
                error: function (xhr) {
                    if (xhr.status == 401) {
                        showToastError('Error en autorización del API')
                    } else {
                        showToastError('Ha ocurrido un error')
                    }
                    return false;
                },
                beforeSend: function () {
                    mostrarCarga(true);
                },
                complete: function () {
                    mostrarCarga(false);
                }
            });
        }

        function actualizarModuloActual() {
            if ($("#moduloActual").val() != '0') {

                var request = {
                    Modulo: $("#moduloActual").val()
                }

                $.ajax({
                    cache: false,
                    type: "PUT",
                    url: '@Url.Action("ActualizarModuloActual", "Operaciones")',
                    data: request,
                    success: function (response) {
                        if (response == null) {
                            showToastError("Ha ocurrido un error");
                            return;
                        }
                        if (response.redirectToUrl) {
                            window.location.href = response.redirectToUrl;
                            return
                        }
                        if(esPantallaClase == true){
                            consultar()
                        }

                        showToastOk('El módulo se actualizó correctamente');
                    },
                    error: function (xhr) {
                        showToastError(xhr.responseText);
                        return false;
                    },
                    beforeSend: function () {
                        mostrarCarga(true);
                    },
                    complete: function () {
                        mostrarCarga(false);
                    }
                });

            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
